
<link rel="stylesheet" href="/CSS/footer.css">
<footer class="footer-distributed">

    <div class="footer-left">

        <p><img  src = "/images/Footer/LOGODOWNFF.png"></p>

        <p class="footer-links">
            <a href="/" class="link-1">Home</a>
            
            <a href="/about">About</a>
            
            <a href="/help">Faq</a>
            
        </p>

        <p class="footer-company-name">BOOMY © 2023</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Rehab 2, Villa 24</span> Rehab City, Cairo</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+2.275.444.88</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@boomy.com">support@boomy.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            BOOMY Apparel started in 2023, when a group of 5 ambitious men, wanted to revolutionize how we view men's fashion. Combining their first initials together,
            this was a beginning of something truly special.
        </p>
    </div>

</footer>