<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/navadmin.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/zhq0vyf.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-272764433-1');
</script>

</head>

<body>
  <ul class="upperbar">
    <% if (user === "") { %>
    <li><a href="/signin"><button class="loginbutton">Log In</button></a></li>
    <% } else { %>
    <li><a href="/signout"><button class="logoutbutton">Log Out</button></a></li>
    <li class="usermessage">Hey, <%= user.username %></li>
    <% } %>
  </ul>
  <ul>
    <li class="logo">
      <a href="/admin-homepage"><img src="/images/TopNav/LogoNew.png"></a>
    </li>
    <li class="topnav" id="myTopnav">
      <a href="/admin-user-management">User Management</a>
      <a href="/admin-product-management">Product Control</a>
    </li>
    <li class="lowerbar"></li>
  </ul>
</body>

</html>
