<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/TopNav.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/zhq0vyf.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">
    <!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-272764433-1');
</script>

</head>

<body>
    <ul class="upperbar">


        <% if(user === "") { %>
            <a href='/signin'><button class="loginbutton">Log In</button></a>
            <% } else { %>
                <a href="/account"><button class="account" style="width:auto;"><i
                    class="material-icons" style="font-size: 33px;">&#xe853;</i></button></a>
                <a href="/Cart"><button class="cart" style="width:auto;"><i style='font-size:25px' class='fas'>&#xf07a;</i></button></a>
                <a href="/wishlist"><button class="wishlist"  style="width:auto;"><i style='font-size:27px' class='far'>&#xf004;</i></button></a>
                <a href='/signout'><button class="logoutbutton">Log Out</button></a>
                <div class="usermessage">
                    Hey,
                    <%= user.username %>
                </div>
                <% } %>
    </ul>
    <ul>
        <div class="logo">
            <a href="/"><img src="/images/TopNav/LogoNew.png"></a>
        </div>
        <div class="topnav" id="myTopnav">
            <a href="/jackets">Jackets</a>
            <a href="/tops">Tops</a>
            <a href="/bottoms">Bottoms</a>
            <a href="/accessories">Accessories</a>



            <div class="search-container">
                <form action="/search" method="post">
                    <input type="text" id="search_bar" placeholder="Search.." name="search_bar">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <div class="lowerbar"></div>
    </ul>
</body>

</html>