<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/TopNav.css">
</head>
<body>
    <ul class="upperbar">
        <div class="logosmall"><a href="#"><img src="/path/to/LogoSmallTrial.png"></a></div>
        
        <button class="account" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i class="material-icons" style="font-size: 38px;">&#xe853;</i></button>
    </ul>
      
    <ul>
        <div class="logo"><a href="#"><img src="/path/to/LogoNew.png"></a></div>
    
        <div class="topnav">
            <a href="/jackets">Jackets</a>
            <a href="/tops">Tops</a>
            <a href="/bottoms">Bottoms</a>
            <a href="/accessories">Accessories</a>
            <a href="/about">About</a>
            <div class="rightlinks">
                <a href="/checkout"><i class="material-icons">&#xe854;</i></a>
                <!--<li><a href="AccountPage.html"><i class="material-icons">&#xe853;</i></a></li>-->
                <a class="help" href="/help"><i class="material-icons">&#xe887;</i></a>
            </div>
        </div>
    </ul>
    
    <ul class="lowerbar">
        <p class="lowerbartext">Free shipping on orders above US$99</p>
    </ul>
</body>
</html>
