<!DOCTYPE html>
<html lang="en">
  <body style="background-color:#f7e7ce;"></body>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
  </head>
  <body>
   
    <%- include("./Partials/NavUser.ejs") %>  
        
       

      <video autoplay loop muted playsinline >
        <source src="images\Untitled video - Made with Clipchamp.mp4" type="video/mp4" >
        Your browser does not support the video tag.
      </video>
        <h3 style="margin-top: 100px;">Constructed to perfection and responsibly built for the long haul. We’ve taken 10 years of feedback and are doubling down on our commitment to building the best possible clothing while pledging to limit our environmental impact. From fiber to fabric to factory to end functionality, Taylor Stitch has grown from a need for products without limitations that could handle chopping wood, surf sessions, snagging trout, or simply heading to the office. On top of making the world’s best apparel, we’re asking questions about how we can protect wild, forever.</h2>
   <hr>
        <div class="container">
            <img src="images\shirt.jpg" alt="shirt" class="images">
            <div >
              <h2 >Products That Wear inn Not Out</h2>
              <p>We’ve always considered ourselves a shirting company at our very core. Always have. Always will. In fact, when we were just getting our vision for Taylor Stitch off the ground ten years ago, we turned to the country’s oldest family of shirtmakers to learn from the very best. And we were spared no lesson of construction—from fit and balance to the importance of French seams to why 22 stitches-per-inch matters on a shirt.</p>
              <p>You can bet this technical DNA is central to every single product we make. Build for the long haul, design products that wear in not out, and use the best most sustainable fabrics available—even if that means making them yourself.</p>
        </div>
          </div >

          <div class="container">
            <img src="images\pexels-karolina-grabowska-4210863.jpg" alt="fab" class="images">
            <div >
              <h2 >Fabrics</h2>
              <p>It’s about protecting our places. No matter where you live, we only have one world to care for. We’re committed to using recycled and regenerative fibers wherever possible This will help lower water usage, get rid of chemicals and pesticides which harm workers and leach into the rivers and help close the loop to create a cradle to cradle supply chain. It’s going to take some time but we hope everyone joins us.</p>
            </div>

        </div>
        <div class="container">
            <img src="images\third.jpg" alt="thirdphoto" class="images">
            <div >
                <h2  > Factories</h2>
                <p>Responsibly built for the long haul—we can’t do it alone. Our construction partners are joining us in our commitment to challenge the way the clothing industry operates. From sourcing to sewing, they’re the best in the business.</p>
            </div>
        </div>
        <div class="container"><img src="images\forth.jpg" alt="thirdphoto" class="images">
            <div >
                <h2  >WILDd FOREVER</h2>
                <p>A happy blend of education, volunteering, building community and having some fun together. We’ll be partnering with other companies who share our values, awesome customers, and local organizations to have no bad days. We’ll do things like blaze trails, clean up trash, help out on a farm and whatever else our community wants to learn about and participate in.</p>
               </div>
            </div>
                <div class="slideshow-container" style="padding: 150px;">
                    <div class="mySlides fade">
                      <img src="images\slide 1.jpg" style="width:100%">
                    </div>
                  
                    <div class="mySlides fade">
                      <img src="images\slide2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="images\slide 3.jpg" style="width:100% " >
                      </div>
                    </div>
                    <div class = "Contact-container">

      
      <div class = "Contact1">
        <img style="margin-left: 16%;margin-top:5%;" src = "C:\Users\Yahia Eissa\Documents\GitHub\project-el-8alaba\Images\LOGODOWNFF.png">
      </div>

      <div class = "Contact2">

          <h1>Call or text</h1>
          <p>We’d love to engage in some good old fashioned conversation.
            <br>
             Available M–F 9am–5pm Pacific.</p>
             
             <p>(415) 304-8208</p>


      </div>

      <div class = "Contact3">

        <h1>EMAIL</h1>
        <p>Drop us a line anytime and we’ll get 
          <br>
          back to you within 24 hours.</p>
          
          <a href="#contact">Contact Us</a>
        

    </div>
    </div>
                
                  </body>
  <link rel="stylesheet" href="CSS\about.css">
<script src="js\about.js"></script>