<!DOCTYPE html>
<html>

<head>
  <title>Add Product</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/addproduct.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-272764433-1');
  </script>

</head>

<body>
  <%- include("./Partials/localiztion.ejs") %>
  <%- include("./Partials/navadmin.ejs") %>
  <h1>Add Product</h1>
  <form method="POST" action="/add-product" enctype="multipart/form-data" onsubmit="return validateForm()">
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" name="itemName" minlength="6" required>
    <span class="error-message" id="itemNameError"></span>

    <label for="Sales">Sales:</label>
    <input type="number" id="Sales" name="Sales" min="0" max="100" required>
    <span class="error-message" id="salesError"></span>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
    <span class="error-message" id="descriptionError"></span>

    <label for="price_before">Price Before:</label>
    <input type="number" id="price_before" name="price_before" onchange="calculatePriceAfter()" required>
    <span class="error-message" id="priceBeforeError"></span>

    <label for="price_after">Price After:</label>
    <input type="number" id="price_after" name="price_after" readonly required>
    <span class="error-message" id="priceAfterError"></span>

    <label for="type">Type:</label>
    <select id="type" name="type" required>
      <option value="jackets">Jackets</option>
      <option value="tops">Tops</option>
      <option value="bottoms">Bottoms</option>
      <option value="accessories">Accessories</option>
    </select>
    <span class="error-message" id="typeError"></span>

    <label for="image">Images:</label>
    <input type="file" id="image" name="image" accept="image/*" required>
    <span class="error-message" id="imageError"></span>

    <button type="submit">Add Product</button>
  </form>

 <script src="/js/addproduct.js"></script>
</body>

</html>



</html>
