<!DOCTYPE html>

<html lang="en">


<!--HEADER STARTS HERE -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/admin_user.css">
    <title>User management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-272764433-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-272764433-1');
</script>

</head>

<script src="/js/admin_user.js"></script>

<body id="body">
    <%- include("./Partials/localiztion.ejs") %>
    <%- include("./Partials/navadmin.ejs") %>


        <h1 class="title">User Details</h1>
        <br>
        <div class="searchbar_div">
            <form action="/admin-order-management/search" method="post">
                <input type="text" class="searchbar" id="search_bar_users" name="search_bar_users" placeholder="Search for a user with username..">
                <input type="submit" value="search" class="buttons">
            </form>

        </div>

        <div class="user-container" id="userscontainer">
            <% if(message !=''){ %>

                <p class="reg_message">
                    <%= message %>
                </p>
                <% } %>

                    <div class="orders_container">
                        <% if (orders.length > 0) { %>



                            <% orders.forEach(order=> { %>




                                <% }) %>

                                    <% } 
                                     
            
            else { %>

                                        <p>There but there is zero orders to display ...</p>

                                        <% } %>
                    </div>
</body>
<!--BODY ENDS HERE -->

</html>