<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Boomy's Bottoms</title>
</head>
<body>
    <ul>
        <div class="logo"><a href="#"><img src = "C:\Users\Yahia Eissa\Documents\GitHub\project-el-8alaba\Images\LOGOIHF.png"></a></div>
        
          <li><a href="#cart"><i class="material-icons">&#xe854;</i></a></li>
          <li><a href="#account"><i class="material-icons">&#xe853;</i></a></li>
          <li><a href="#help">Help</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
          </ul>
   <div class="centerednav">    
        <ul class="types">
        <li class="types2"><a href="/Bottoms">Bottoms</a></li>
        <li class="types2"><a href="/Tops">Tops</a></li>
        <li class="types2"><a href="/Jackets">Jackets</a></li>
        <li class="types2"><a href="/Accessories">Accessories</a></li>
        <li class="types2"><a href="/home.js">Home</a></li>
    </ul>
  </div>
    <hr>
         
    <div class="container">
     


    <div class="text2">
          <p>Category</p>
          <h3>Bottoms</h3>
    </div>
             <div class = "row">
                <div class = "column">
                    <div>
                          <div class="images"> 
                          <img src="images/Bottoms/Ripped Jeans1.avif" href="Ripped.html">
                          <img class="imgtop" src="images/Bottoms/Ripped Jeans2.avif">
                          </div>
                          <div class="text">
                          <h4>Ripped Medium Wash Slim Jeans</h4>
                          <h5 class = "before">EGP 1200.00</h5> <span><h5 class="after">EGP 870.00</h5> </span> </div>
                   </div>    
                  </div>
             <div class="column"> 
                <div>
                <div class="images">
                 <img src="images/Bottoms/Ligh Wash Jeans1.avif">
                 <img src="images/Bottoms/Light Wash Jeans2.webp" class="imgtop">
                </div>
                 <div class="text">
                 <h4>Light Wash Straight Jeans</h4>                             
                 <h5 class="before">EGP 1100.00 </h5> <h5 class="after">EGP 700.00</h5> </div>
                </div>
                
            </div>
            <div class="column">
                <div>
                  <div class="images">
                    <img src="images/Bottoms/Dark Wash Jeans1.avif">
                    <img class="imgtop" src="images/Bottoms/Dark Wash Jeans2.avif">
                  </div>
                    <div class="text">
                    <h4>Dark Wash Slim Jeans</h4>
                    <h5 class="before">EGP 1050.00 </h5> <h5 class="after">EGP 680.00</h5> </div>
                </div>
                
            </div>
        </div>
         <div class="row"> 
            <div class="column">
              <div>
                <div class="images"> 
                    <img src="images/Bottoms/Grey Cargo1.avif">
                    <img class="imgtop" src="images/Bottoms/Grey Cargo2.avif">
                  </div>
                    <div class="text">
                    <h4>Grey Cargo Pants</h4>
                    <h5 class="before">EGP 1250.00 </h5> <h5 class="after">EGP 850.00</h5> </div>
                </div>
            </div>
            <div class = "column">
                <div>
                  <div class="images">
                   <img src="images/Bottoms/Baige Cargo1.webp">
                   <img class="imgtop" src="images/Bottoms/Baige Cargo 2.avif">
                  </div>
                   <div class="text">
                      <h4>Baige Cargo Pants</h4>
                      <h5 class = "before">EGP 1250.00 </h5> <h5 class="after">EGP 850.00</h5> </div>
               </div>    
              </div>
              <div class="column">
                <div>
                  <div class="images">
                    <img src="images/Bottoms/Black Cargo1.avif">
                    <img class="imgtop" src="images/Bottoms/Black Cargo2.webp">
                  </div>
                    <div class="text">
                    <h4>Black Cargo Pants</h4>
                    <h5 class="before">EGP 1250.00 </h5> <h5 class="after">EGP 850.00</h5> </div>
                </div>
            </div>
         </div>
         <div class="row"> 
          <div class="column">
            <div>
              <div class="images"> 
                  <img src="images/Bottoms/Black fleece logo sweatpants1.avif">
                  <img class="imgtop" src="images/Bottoms/Black fleece logo sweatpants2.avif">
                </div>
                  <div class="text">
                  <h4>Black Fleece Logo SweatPants</h4>
                  <h5 class="before">EGP 1250.00 </h5> <h5 class="after">EGP 900.00</h5> </div>
              </div>
          </div>
          <div class = "column">
              <div>
                <div class="images">
                 <img src="images/Bottoms/White and black bundle fleece1.webp">
                 <img class="imgtop" src="images/Bottoms/White and black bundle fleece2.avif">
                </div>
                 <div class="text">
                    <h4>Black & White Bundle Fleece SweatPants</h4>
                    <h5 class = "before">EGP 1700.00 </h5> <h5 class="after">EGP 1350.00</h5> </div>
             </div>    
            </div>
            <div class="column">
              <div>
                <div class="images">
                  <img src="images/Bottoms/Off white sherpa sweatpants1.avif">
                  <img class="imgtop" src="images/Bottoms/Off white sherpa sweatpants2.avif">
                </div>
                  <div class="text">
                  <h4>Off-White Sherpa SweatPants</h4>
                  <h5 class="before">EGP 1250.00 </h5> <h5 class="after">EGP 900.00</h5> </div>
              </div>
          </div>
       </div>
    </div>
    
</body>
</html>