<!-- cart.ejs -->

<h1>Cart</h1>

<% if (products.length > 0) { %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((item) => { %>
        <tr>
          <td>
            <img src="/uploads/<%= item.images[0] %>">
            <%= item.itemName %>
          </td>
          <td>$<%= item.price_after %></td>
          <td>
            <a href="/cart/delete/<%= item._id %>">Delete</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <a href="/checkout">Proceed to Checkout</a>
<% } else { %>
  <p>Your cart is empty.</p>
<% } %>
