<html lang="en">

<body>
    <%- include("./Partials/localiztion.ejs") %>
    <%- include("./Partials/NavUser.ejs") %>

        <div>
            <h1>
                <%= err %>
            </h1>
        </div>

</body>

</html>