<html lang="en">

<body>
    
    <%- include("./Partials/NavUser.ejs") %>

        <div>
            <h1>
                <%= err %>
            </h1>
        </div>

</body>
<footer><%- include("./Partials/localiztion.ejs") %></footer>

</html>