<!DOCTYPE html>
<html lang="en">

<body style="background-color:white;"></body>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HomePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/CSS/HomePage.css" rel="stylesheet" />


</head>



<body>

    <%- include("./Partials/NavUser.ejs") %>
        <%- include("./Partials/chat.ejs") %>

            <div class="firstimg"></div>
            <div class="center">
                <div class="title">Learn About</div>
                <div class="sub_title">How BOOMY Rose To Fame</div>
                <div class="btns">
                    <a href="/about"><button>Learn More</button></a>
                </div>
            </div>


            <div class="mainn">
                <div class="marquee">
                    <div class="marquee__group">
                        <img  src='/images/HomePage/model 1.jpg' alt=''>
                        <img  src='/images/HomePage/model 2.jpg' alt=''>
                        <img  src='/images/HomePage/Model 3.jpg' alt=''>
                        <img  src='/images/HomePage/model 4.jpg' alt=''>
                        <img  src='/images/HomePage/model 5.jpg' alt=''>
                    </div>

                    <div aria-hidden="true" class="marquee__group">
                        <img  src='/images/HomePage/model 6.jpg' alt=''>
                        <img  src='/images/HomePage/model 7.jpg' alt=''>
                        <img  src='/images/HomePage/model 8.jpg' alt=''>
                        <img  src='/images/HomePage/model 9.jpg' alt=''>
                        <img  src='/images/HomePage/model 10.jpg' alt=''>
                    </div>
                </div>

                <div class="marquee marquee--borders" style="--duration: 100s">
                    <div class="marquee__group">
                        <p>THE NEW COLLECTION</p>
                        <p aria-hidden="true">THE NEW COLLECTION</p>
                        <p aria-hidden="true">THE NEW COLLECTION</p>
                    </div>

                    <div aria-hidden="true" class="marquee__group">
                        <p>THE NEW COLLECTION</p>
                        <p>THE NEW COLLECTION</p>
                        <p>THE NEW COLLECTION</p>
                    </div>
                </div>

                <div class="marquee marquee--reverse">
                    <div class="marquee__group">
                        <img  src='/images/HomePage/model 11.jpg' alt=''>
                        <img  src='/images/HomePage/model 12.jpg' alt=''>
                        <img  src='/images/HomePage/model 13.jpg' alt=''>
                        <img  src='/images/HomePage/model 14.jpg' alt=''>
                        <img  src='/images/HomePage/model 15.jpg' alt=''>
                    </div>

                    <div aria-hidden="true" class="marquee__group">
                        <img  src='/images/HomePage/model 16.jpg' alt=''>
                        <img  src='/images/HomePage/model 17.jpg' alt=''>
                        <img  src='/images/HomePage/model 18.jpg' alt=''>
                        <img  src='/images/HomePage/model 19.jpg' alt=''>
                        <img  src='/images/HomePage/model 20.jpg' alt=''>
                    </div>
                </div>
            </div>

            <div class="main">
                <section class="featured-product-cta card-container">
                  <div class="featured-product-image card-item">
                    <figure class="card-figure">
                      <img class="card-image" src="https://github.com/m-Colen/kona-coffee/blob/main/images/featured-product.jpg?raw=true" alt="Person holding green coffee beverage" />
                      <figcaption class="card-caption">
                        Photo by
                        <a href="https://unsplash.com/@lauraashtonashley?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Laura Barry</a>
                        on
                        <a href="https://unsplash.com/s/photos/frappe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="featured-product-cta card-item text-block-padding column">
                    <h2>Hooray for Matcha</h2>
                    <p>
                      The new Match frappe is a happy mix of green tea leaves and whole
                      milk, ice, & whipped cream.
                    </p>
                    <a class="button button-light no-decoration" href="#">Order now</a>
                  </div>
                </section>
            </div>

</body>
<footer>
    <%- include("./Partials/footer.ejs") %>
</footer>