<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/CSS/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script src="/js/signup.js"></script>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/js/ajax.js"></script>

<body>


    <div class=" container ">
        <div class="title ">Registration</div>
        <% if(message !=''){ %>

            <p class="reg_message ">
                <%= message %>


            </p>
            <% } %>
                <div class="content ">


                    <form action="/signup" enctype="multipart/form-data " onsubmit="return validate()" method="post">
                        <div class="user-details ">
                            <div class="input-box ">
                                <span class="details ">Username</span>
                                <input type="text " placeholder="Enter your username" id="username" name="username" minlength="8 " maxlength="16 " required>
                                <span id="result"></span>
                            </div>
                            <div class="input-box ">
                                <span class="details ">Email</span>
                                <input type="email " placeholder="Enter your email " id="email" name="email" required>
                            </div>
                            <div class="input-box ">
                                <span class="details ">Country Code</span>
                                <select class="selector " id="countrycode " name="countrycode ">
              <option value="1 ">United States (+1)</option>
              <option value="86 ">China (+86)</option>
              <option value="91 ">India (+91)</option>
              <option value="81 ">Japan (+81)</option>
              <option value="7 ">Russia (+7)</option>
              <option value="82 ">South Korea (+82)</option>
              <option value="62 ">Indonesia (+62)</option>
              <option value="55 ">Brazil (+55)</option>
              <option value="92 ">Pakistan (+92)</option>
              <option value="234 ">Nigeria (+234)</option>
              <option value="880 ">Bangladesh (+880)</option>
              <option value="33 ">France (+33)</option>
              <option value="49 ">Germany (+49)</option>
              <option value="44 ">United Kingdom (+44)</option>
              <option value="39 ">Italy (+39)</option>
              <option value="90 ">Turkey (+90)</option>
              <option value="54 ">Argentina (+54)</option>
              <option value="20 ">Egypt (+20)</option>
              <option value="81 ">Japan (+81)</option>
              <option value="86 ">China (+86)</option>
            </select>
                            </div>
                            <div class="input-box">
                                <span class="details">Phone Number</span>
                                <input type="text" id="phone" placeholder="Enter your number" name="phone" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Password</span>
                                <input type="password" placeholder="Enter your password " id="pw" name="pw" minlength="8 " maxlength="16 " required>
                            </div>
                            <div class="input-box">
                                <span class="details">Confirm Password</span>
                                <input type="password" placeholder="Confirm your password " id="cpw" name="cpw" minlength="8 " maxlength="16 " required>
                            </div>
                            <label> <input type="checkbox" class="check" name="agree" required> I agree to the Website's terms and conditions </label>
                            <br>

                        </div>
                        <div class="button">
                            <input type="submit" class="submit" value="Register ">
                        </div>
                    </form>
                    <div class="signup">
                        <span class="signup ">Already have an account?
         <a href="/signin "><label for="check ">Login</label></a>
        </span>
                    </div>
                </div>
    </div>

    <script>
        // Add a listener to the form submission to check if passwords are matching

        document.querySelector('form').addEventListener('submit', function(event) {
            const password = document.querySelector('#password').value;
            const confirmPassword = document.querySelector('#confirm-password').value;

            // Check if the two passwords match
            if (password !== confirmPassword) {
                alert('The two passwords do not match.');
                event.preventDefault();
            }
        });
    </script>

</body>



</html>