body {
  background-color: white;
}

video {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .images {
  flex: 1;
  margin-right: 30px;
  margin-top: 200px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.container.in-view .images {
  opacity: 1;
}

.container .images.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.container:hover .images {
  opacity: 1;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: Georgia, serif;
  font-style: italic;
}

h3 {
  justify-content: center;
  text-align: center;
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 22px;
  position: relative;
}

p {
  font-size: 22px;
  line-height: 1.5;
  font-family: serif;
}

.slideshow-container {
  position: relative;
  top: 200px;
  display: grid;
  flex: 1;
  z-index: 0;
  margin: 100px;
}

.mySlides {
  display: none;
}
