

body {
  background: linear-gradient(to right, #0f2130, white);
}

.form-control:focus {
  box-shadow: none;
  border-color: #0f2130
}

.profile-button {
  background: #0f2130;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: linear-gradient(to right, #0f2130, white)
}

.profile-button:focus {
  background: #0f2130;
  box-shadow: none
}

.profile-button:active {
  background: #0f2130;
  box-shadow: none
}

.back:hover {
  color: #0f2130;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #0f2130;
  color: #fff;
  cursor: pointer;
  border: solid 1px #0f2130
}