  /* Existing styles */

  .chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
  }

  .chat-icon img {
    width: 45px; 
    height: auto;
  }

  .chat-window {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9998;
  }

  .header {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }

  .title {
    font-weight: bold;
  }

  .close-btn {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
  }

  .chat-container {
    width: 100%;
    height: calc(100% - 65px); 
    position: relative;
  }

  iframe {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Added styles */

  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .black-button {
    background-color: transparent;
    color: darkslategray;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
   top: -40px;
  }

  .opening-message {
    position: absolute;
    top: 32px;
    left: 62%;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 10px;
    color: white;
    
  }