html, body {
  margin: 0;
}

.tabs-container {
  font-family: "Roboto", sans-serif;
 
  margin: 30px auto;
  display: flex;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.tabs {
  width: 300px;
  background: white;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.tab {
  padding: 24px 32px;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
}

.tab.active {
  background-color: aquamarine;
  color: black;
}

.content-container .content {
  display: none;
  padding: 32px;
}

.content-container .content.active {
  display: block;
}

.content-container p {
  line-height: 2;
  margin-bottom: 60px;
}
.fotterdiv{
margin: auto;
}
h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  cursor: pointer;
  font-size: 17px;
}

.tab:hover,
h5:hover {
  color: aquamarine;
}

p {
  font-size: 15px;
  font-family: 'Abel';
}

body {
  background-color: white;
}

a:hover {
  color: aquamarine;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 20px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mySlides {
  display: none;
}
footer {

  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 35%;

}

