html,
body {
    margin: 0;
}


@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap");

* {
  box-sizing: border-box;
}

.mainn {
  min-height: 100vh;
  margin-top: 20px;
}

.mainn {
  --space: 2rem;

  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--space);
  width: 100%;
  font-family: "Corben", system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.marquee {
  --duration: 60s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  transform: skewY(-3deg);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee__group img {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
}

.marquee__group p {
  background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marquee--borders {
  border-block: 3px solid #0f2130;
  padding-block: 0.75rem;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}


.account
  {
    margin-right: 100px;
    padding: 5px 5px;
    margin-top: 0%;
    float: right;
    color: #0f2130;
    background-color: whitesmoke;
  }

  .firstimg{
    background: url('/images/HomePage/background.png')no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .firstimg::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
  }
  .center .sub_title{
    color: #fff;
    font-size: 52px;
    font-weight: 600;
  }
  .center .btns{
    margin-top: 20px;
  }
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  .center .btns button:first-child{
    color: #fff;
    background: none;
  }
  .btns button:first-child:hover{
    background: white;
    color: #0f2130;
  }




button:hover {
  cursor: pointer;
}

/* Button styling for links */

.hidden {
  display: none !important;
}

.block-link {
  display: block;
  color: var(--primary-color);
}

.block {
  display: block !important;
}

.flex {
  display: flex;
}

.column {
  flex-flow: column;
}

.text-block-padding {
  padding: 3rem 2rem;
}

/* Adds outline effect to special highlighted text */
.stroke {
  color: #d4e9e2;
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.rotate-180 {
  transform: rotate(180deg);
}



/********** Main Content **********/

.main {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* General card styles */
.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-item > p {
  font-size: 1.2rem;
  line-height: 1.7;
}



/* Shared card styles */

.card-figure {
  height: 70vh;
  width: 100%;
  margin: 0;
  position: relative;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--primary-color);
  opacity: 0.9;
  color: #fff;
  padding: 1rem 0;
}

.card-caption a {
  color: #fff;
}

.card-caption a:hover {
  color: dodgerblue;
}

/* Featured product CTA section */

.featured-product-cta {
  background-color: #007042;
  color: #fff;
}


@media only screen and (min-width: 850px) {
  .card-container {
    display: flex;
  }
  .card-item {
    width: 50%;
  }
  .card-item > p {
    max-width: 80%;
  }
  .footer-links {
    font-size: 0.8rem;
  }
  .footer-links i {
    display: none;
  }
  .footer-links > ul {
    display: flex;
    justify-content: space-between;
  }
  .footer-links > ul > li {
    width: calc(100% / 5);
    padding: 0.25rem;
  }
  .about-hidden,
  .careers-hidden,
  .social-impact-hidden,
  .business-partners-hidden,
  .order-hidden {
    display: block !important;
  }
  .supplemental-links {
    flex-flow: row;
    gap: 25px;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 0.8rem;
  }
}
  
 