.button-blue {
    background-color: #0f2130;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .button-blue:hover {
    background-color: #36678f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #0f2130, white);
  }

  .container ul li {
    margin: 0 10px;
  }

  @media (max-width: 768px) {
    .container ul {
      flex-wrap: wrap;
    }

    .container ul li {
      margin: 5px;
    }
  }

  .text-center {
    text-align: center;
  }

  body{
    background: linear-gradient(to right, #0f2130, white);
  }

  h1{
    text-align: center;
  }